*{
    margin: 0px;
    padding: 0px;
}

.principal{
    width: 100%;
    height: 100vh;
}

.linha{
    width: 100%;
    height: 33.3333%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quadrado-azul{
    width: 150px;
    height: 150px;
    background-color: #4444cd;
}

.coluna-centro{
    align-items: center;
}


.coluna-final{
    align-items: end;
}
