*{
    margin: 0px;
    padding: 0px;
}

h1{
    color: red;
}

.quadradinho{
    width: 300px;
    height: 300px;
    background-color: darkblue;
}

.quadradinho:hover{
    transition: 0.5s;
    transform: scale(1.5);
    rotate: 360deg;
}

#quadradao{
    margin: 50px;
    width: 500px;
    height: 500px;
    background-color: orange;
}

#fundo-amarelo{
    background-color: yellow;
}
